body {
    font-family: 'Poppins', sans-serif;
}

html, body {
    height: 100%;  /* Ensure html and body take up full height */
    margin: 0;     /* Remove default margin */
}

/* Make the video and canvas take up full screen */
#video, #canvas {
    display: none;
    width: 100vw;
    height: 100vh;
    object-fit: cover; /* Ensures the video covers the whole area without stretching */
    position: absolute;
    top: 0;
    left: 0;
}

#output{
    display: block;
    width: 100vw;
    height: 100vh;
    object-fit: cover; /* Ensures the video covers the whole area without stretching */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.wrapper {
    display: block;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

#videoFeed{
    width: 100vw;
    height: 100vh;
}

/* Style controls section */
#controls {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 28px 10px;
    background-color: white; /* Slightly transparent background */
    z-index: 1000; /* High z-index to ensure it stays on top */
    display: flex;
    justify-content: left;
    gap: 10px; /* Space between control elements */
    overflow-x: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    
}

#filter {
    display: flex;
    gap: 10px; /* Jarak antar opsi */
}

#filter label {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 8px 16px; /* Padding untuk label */
    background: linear-gradient(to top right,#0D99FF33 0%, #53CDD833 47%, #96EAB733 100%);
    border-radius: 10px; /* Sudut melengkung */
    transition: background-color 0.3s, color 0.3s; /* Transisi untuk efek hover */
}

#filter label:hover{
    background: linear-gradient(to top right,#0D99FF 0%, #53CDD8 47%, #96EAB7 100%);
}

#filter input[type="radio"] {
    display: none; 
}

/* Efek ketika radio button dipilih */
#filter input[type="radio"]:checked + label {
    background: linear-gradient(to top right,#0D99FF 0%, #53CDD8 47%, #96EAB7 100%);
    color: white; /* Warna teks putih ketika dipilih */
}

.header{
    position: fixed;
    width: 100vw;
    top: 20px;
    left: 0px;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
}

.btn-back {
    width: 50px ;
}

.btn-back-2 {
    width: 50px ;
}

.camera-options {
    display: flex;
    flex-direction: column; /* Atur agar elemen di dalamnya disusun vertikal */
    align-items: flex-end;  /* Selaraskan elemen ke kanan */
   /* Tambahkan jarak dari sisi kanan */
}

.btn-camera {
    width: 50px;
    margin-bottom: 5px; /* Tambahkan jarak antara ikon kamera dan dropdown */
}

.color-card {
    padding: 4px 6px;
    background-color: white;
    width: 150px;
    height: 36px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(85, 85, 85, 0.2);
    display: flex;
    align-items: center;
    gap: 10px;
}

.color-indicator, #color-box {
    width: 26px;
    height: 26px;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: #0D99FF; /* Ganti warna ini sesuai RGB yang diinginkan */
}

.color-name {
    font-size: 16px;
    color: #333;
}

.header-page{

    display: flex;
    align-items: center;
    justify-content: space-between;

}

.header-card {
    padding: 20px 20px;
}

.blue-gradient{
    background: linear-gradient(to top right, #0D99FF 0%, #53CDD8 47%, #96EAB7 100%) no-repeat;
    
}

main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(to top right, #0D99FF 0%, #53CDD8 47%, #96EAB7 100%) no-repeat;
}

.top {
    display: flex;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    z-index: 1;
}

.top-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
}


.bottom {
    display: flex;
    background-color: white;
    width: 100%;
    height: 100vh;
    border-radius: 30px 30px 0 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#uploaded-image {
    max-width:calc(100vw - 40px);
    max-height: calc(100vh - 80px);
}


.main-body{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top right, #0D99FF 0%, #53CDD8 47%, #96EAB7 100%) no-repeat;

}

.card-title{
    text-align: center;
    align-items: center;
    color: white;
}

.main-card{
    width: 100%;
    height: 100vh; /* Adjust 140px based on actual header height */
    background-color: white;
    border-radius: 50px 50px 0 0 ;
}

.fixed-left-button{
    position: fixed;
    top: 20px;
    left: 20px;
}

.fixed-right-button{
    position: fixed;
    top: 20px;
    right: 20px;
}

.wrap-upload-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    text-align: center; 
}

.btn-upload {
    padding: 12px 20px;
    border-radius: 20px;
}

.card-image {
    width: 100px;
    height: 100px;
}

#camera-select-container{
    width: calc(100vw - 100px);
    top: 80px;
    right: 20px;
    position: fixed;
    margin-top: auto;
    margin-bottom: auto;
    z-index: 999999;
}



@media (max-width: 768px) { 
    .btn-back-2 {
        width: 34px ;
    }

    
}

@media (min-width: 768px) and (max-width: 991.98px) { 
    #controls {
        display: flex;
        justify-content: center !important;
    }
}

@media (min-width: 992px) { 
    #controls {
        display: flex;
        justify-content: center !important;
    }
}


