<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

    <title>Home Page</title>
    <style>
        body {
            text-align: center;
        }
        a {
            display: block;
            margin: 20px;
            font-size: 1.5em;
        }
    </style>
</head>
<body>
    <h1>Welcome to Color Picker</h1>
    <a href="/simulation">Color Blind Simulation</a>
    <a href="/pickerify-camera">Pickerify Camera</a>
    <a href="/pickerify-upload-image">Pickerify Image</a>
    <a href="/camify">Camify</a>

</body>
</html>
