<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <style>
        body {
            text-align: center;
        }
        a {
            display: block;
            margin: 20px;
            font-size: 1.5em;
        }
    </style>
</head>
<body>
    <h1>Welcome to Color Picker</h1>
    <a href="/simulation">Color Blind Simulation</a>
    <a href="/webcam">Go to Webcam Color Picker</a>
    <a href="/upload_image">Upload Image for Color Picker</a>
    <a href="/camify">Camify</a>
    <a href="/pickerify-camera">Pickerify Camera</a>
</body>
</html>
